.message-container {
	user-select: none;
	position: fixed;
	top: 160px;
	bottom: 160px;
	left: 100%;
	right: 100%;
	transform: translate(0%, 0px);

	width: 300px;
	height: 150px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: white;
	background-color: rgba(253, 86, 86, 0.7);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	animation: transform 3s ease-in-out 0.5s;

	.in-cart {
		margin-bottom: 10px;
		font-weight: 900;
	}

	.message {
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		span {
			font-weight: 900;
		}
	}
}

@keyframes transform {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(-100%);
	}

	80% {
		transform: translate(-100%);
	}

	100% {
		transform: translate(0);
	}
}